body{
  background: #dea918;
}
.search-box{
position: absolute;
top:12%;
left:3%;
transform:translate(0%,-100%);
background:#2f3640;
height:60px;
border-radius:40px;
padding:10px;
}

.main-cont{
    position: absolute;
    top: 15%;
  }
.search-btn{
color: #1D809F;
float: right;
width: 40px;
height: 40px;
border-radius:50%;
background: #2f3640;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s;
}

.search-txt{
border:none;
background: none;
outline: none;
float: left;
padding: 0;
color: white;
font-size: 16px;
transition: 0.4s;
line-height: 40px;
width: 0px;
}


.search-box:hover .search-txt{
width: 240px;
padding: 0 6px;
}
.search-box:hover .search-btn{
background: #fff;
    }
    

